@using Tweakers.Models
@model Tweakers.Models.ViewModel

@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Overview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="Pricewatch">
    <tr>
        <th>
        </th>
        <th></th>
    </tr>
@if (ViewBag.id == 0)
{
    foreach (PriceWatchCategory c in Model.PriceWatch.Where(n => n.ParentCat == null))
    {
        <tr>
            <td>
                @Html.ActionLink(c.Name, "Overview", new { id = c.ID }, new {@class = "list-group-item" })
            </td>
        </tr>
    }

}
else
{
    if (!Model.PriceWatch.Exists(n => n.SubID == ViewBag.id))
    {
        var c = Model.PriceWatch.Find(n => n.ID == ViewBag.id);
        <tr>
            @if (c.CatProducts != null)
                 {
                     foreach (Product p in c.CatProducts)
                     {
                         <tr>
                             <td>
                                 @Html.ActionLink(p.Name, "Product", new { id = p.ProductID}, new { @class = "list-group-item" })
                             </td>
                         </tr>
                     }
                 }
        </tr>

    }
    else
    {
        foreach (PriceWatchCategory c in Model.PriceWatch.Where(n => n.SubID == ViewBag.id))
        {
            <tr>
                <td>
                    @Html.ActionLink(c.Name, "Overview", new { id = c.ID }, new { @class = "list-group-item" }  ) 
                </td>
            </tr>
        }
    }
}

</table>
