@using Tweakers.Models
@{
    ViewBag.Title = "Index";
}

<h2>Welcome tot Tweakers.net</h2>
<br/>
<h3>Nieuwsartikelen</h3>
<div>
@foreach (Article a in Model.Articles)
{
    <tr>
        <td>
            @Html.ActionLink(a.Title, "Index", "Article", new { id = a.Title + "/"}, new { @class = "list-group-item" })
        </td>
    </tr>
}
</div>

@if ((Account)Session["User"] != null && ((Account)Session["User"]).Type == "Medewerker")
{
<p>
    @Html.ActionLink("New article", "NewArticle", "Article");
</p>
}

